@media (max-width: 1440px) {
    .cloud-left {
        height: 150%;
        top: -5rem;
    }

    .cloud-right {
        height: 150%;
        top: -5rem;
    }

    .carousel-image img {
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
}

@media (max-width: 1081px) {
    .cloud-left {
        height: 160%;
        top: -8rem;
    }

    .cloud-right {
        height: 160%;
        top: -8rem;
    }
}

@media (max-width: 801px) {
    .balloon {
        bottom: 0;
    }

    .left-mountain {
        height: 65%;
    }

    .middle-mountain {
        top: 30rem;
        height: 65%;
    }

    .cloud-left {
        height: 160%;
        top: -8rem;
    }

    .cloud-right {
        height: 160%;
        top: -8rem;
    }

    .the-event {
        padding-bottom: 2rem;
    }

    /* CAROUSEL SECTION */
    .carousel-bg {
        min-width: 90%;
        min-height: 60vh;
    }

    .carousel-image {
        justify-content: center;
        align-items: center;
    }

    .carousel-image img {
        width: 150px;
        height: 220px;
    }

    .caro-img-1 {
        margin-top: 10rem;
    }

    .caro-img-2 {
        margin-top: 0;
    }

    .caro-img-3 {
        margin-top: 10rem;
    }

    .carousel-btn {
        bottom: 25rem;
    }

}

@media (max-width: 506px) {
    /* html {
        font-size: 70%;
    } */

    .navbar ul {
        display: none;
    }

    .header {
        padding-top: 10rem;
    }

    .header h1 {
        font-size: 2.2rem;
        letter-spacing: .5rem;
    }

    .header p {
        font-size: 1.2rem;
        letter-spacing: 1.5rem;
        padding: 1rem 1rem 0 1rem;
    }

    .image-container {
        height: 80vh;
    }

    .balloon {
        width: 300px;
        height: 300px;
        bottom: 40vh;
    }

    .left-mountain {
        top: 20rem;
        height: 60%;
    }

    .middle-mountain {
        top: 20rem;
        height: 60%;
    }

    .cloud-left {
        height: 160%;
        top: -80vh;
    }

    .cloud-right {
        height: 160%;
        top: -80vh;
    }

    .horizon-text h1 {
        font-size: 1.5rem;
    }

    .horizon-text p {
        font-size: .8rem;
    }

    /* THE EVENT SECTION */
    .the-event {
        padding: 0 2.2rem;
    }

    .the-event h1:first-child {
        font-size: 5rem;
    }

    .the-event h1:nth-child(2) {
        font-size: 1.2rem;
        padding-bottom: .5rem;
    }

    .first-p,
    .second-p {
        font-size: .8rem;
        padding-bottom: .5rem;
    }

    .the-event a {
        font-size: .8rem;
        padding: .6rem 2rem;
    }

    /* CAROUSEL SECTION */
    .carousel-bg {
        min-width: 83%;
        /* left: 8.3%; */
    }

    .carousel-image {
        justify-content: center;
        align-items: center;
        gap: .2rem;
    }

    .carousel-image img {
        width: 100px;
        height: 150px;
    }

    .caro-img-1 {
        margin-top: 5rem;
    }

    .caro-img-2 {
        margin-top: 0;
    }

    .caro-img-3 {
        margin-top: 5rem;
    }

    .carousel-btn {
        bottom: 15rem;
    }

    /* FOOTER SECTION */
    .last-section .text-container {
        padding: 0 2.2rem;
    }

    .text-container h1 {
        font-size: 2rem;
        padding-bottom: .5rem;
    }

    .last-image-container {
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
    }
    
    .last-image-container img {
        max-width: 100%;
        height: auto;
    }

    .footer {
        flex-direction: column;
    }

    .contact-container {
        text-align: center;
    }

    .reserved {
        font-size: .8rem;
        text-align: center;
    }

    .footer-logo h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .contact-container a {
        font-size: .8rem;
        padding: .6rem 2rem;
    }

    .contact span {
        font-size: .8rem;
    }
}

@media (max-height: 1080px) {
    .left-mountain {
        /* top: 50%; */
    }

    .middle-mountain {
        /* top: 50%; */
    }
}